@import url('https://fonts.googleapis.com/css2?family=Inter&family=Open+Sans:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Urbanist', sans-serif;
}

body {
    background-color: #0099FF;
}

main {
    background-color: #fff;
    border-radius: 8px;
    width: 90%;
    margin: 40px auto;
    padding: 20px;
    box-shadow: 0 4px 10px #1114;
}

.add-form {
    display: flex;
    width: 100%;
    gap: 20px;
    margin-bottom: 40px;
}

.input-task {
    width: 100%;
    flex: 1;
    padding: 15px;
    font-size: 1.1em;
    font-weight: bold;
    border: 1px solid #ddd;
    border-radius: 10px;
}

.input-task:focus {
    outline: 1px solid #999;
}

.btn-submit {
    background-color: #0099FF;
    border: none;
    width: 50px;
    height: 50px;
    border-radius: 5px;
    cursor: pointer;
    color: #fff;
    font-size: 1.7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
}

table {
    border-collapse: collapse;
    width: 100%;
}
 
td, th {
    padding: 10px 15px;
    border: 1px solid #ddd;
    text-align: center;
}

td {
    color: #333;
    font-weight: 600;
}
tr:nth-child(even){
    background-color: #f5f5f5;
}

select {
    width: 100%;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-weight: 600;
    background-color: #ebebeb;
    text-transform: capitalize;
    outline: none;
}

select:hover {
    background-color: #ddd;
}

.btn-action {
    border: none;
    border-radius: 5px;
    padding: 8px;
    cursor: pointer;
    display: inline-flex;
    color: #fff;
}

.btn-action.btn-edit {
    background-color: rgb(255, 146, 44);
    margin-right: 5px;
}

.btn-action.btn-delete {
    background-color: #f22;
}
  
.container-status-color {
    display: flex;
    align-items: center;
    justify-content: center;
}

.status-color {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
}

table tr:has(select option[value="pendente"]:checked) .status-color{
    background-color: #dfee07;
}
table tr:has(select option[value="em-andamento"]:checked) .status-color{
    background-color: #1b65d4;
}
table tr:has(select option[value="concluido"]:checked) .status-color {
    background-color: #2ac537;
}